body {
  background-color: lightgreen;
  margin: auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
h1 {
  font-style: oblique;
}
button{
  font-size: 0.9rem;
  text-align: center:
  margin;auto;

}
li{
  background-color:antiquewhite
}
